.header {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: relative;
}

.logo {
  width: 85vw;
}

.social-bar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.social-links {
  height: 50px;
  display: flex;
  flex: auto;
  align-items: center;
  background-color: #000;
}

.social-link {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 5%;
  }

  .logo {
    width: 30vw;
    margin-right: 5vw;
  }

  .social-bar {
    top: 35vh;
    flex-direction: column;
    left: 0;
    right: 95vw;
    bottom: 40vh;
    max-width: 60px;
  }

  .social-link {
    transition: all 0.2s ease-in-out;
  }

  .social-link:hover {
    transform: scale(1.4);
  }
}
