* {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration-color: transparent;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  color: #5a5353;
}

a:hover {
  text-decoration-color: #000;
}

button {
  cursor: pointer;
}

body {
  font-family: Roboto, sans-serif;
  background: linear-gradient(90deg, rgb(202, 198, 198) 0%, rgb(146, 140, 140) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
